{{#if article}}

{{#each article}}
<div class="media" data-_id="{{this.id}}">
    <img src="{{this.picture}}" class="mr-3" alt="..." id="article-pic">
    <div class="media-body">
        <div class="mt-0" id="article-title">{{this.headline}} <div class="date">{{this.date}}</div> </div>
        {{this.summary}} 
        <p> <a href="{{this.url}}">Read More </a><span id="save-article"><button type="button" class="btn btn-secondary btn-sm" id="save-article">Save Article</button></span></p>
    </div>
</div><br>
{{/each}}
{{else}}
Press the "Scrape New Articles" button to get started.
{{/if}}

