{{!-- {{#if article}}

{{#each article}}
<div class="media" data-_id="{{this.id}}">
    <img src="{{this.picture}}" class="mr-3" alt="..." id="article-pic">
    <div class="media-body">
        <div class="mt-0" id="article-title">{{this.headline}} <div class="date">{{this.date}}</div>
        </div>
        {{this.summary}}
        <p> <a href="{{this.url}}">Read More </a><span class="buttons">
                <button type="button" class="btn btn-secondary btn-sm" id="notes-button" data-toggle="collapse"
                    data-target="#notes-collapse">Notes</button>
                <button type="button" class="btn btn-secondary btn-sm" id="delete-article">Delete</button></span>
        </p>

        <div class="collapse" id="notes-collapse">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Add a note</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary btn-sm" data-id="{{this._id}}">Submit</button>
            </form>
        </div>
    </div>

</div><br>
{{/each}}
{{else}}
<div class="message"> There are no saved artices, go back to the home page to save some articles!</div>
{{/if}} --}}



<div id="expand-box">
    <div class="wrapper">
        <article class="content">
            <div class="panel">
                <div id="handlebars-sandbox">
                    {{#if article}}
                    {{#each article}}
                    <div class="card mb-3" data-_id="{{this._id}}" id="media">
                        <a href="{{this.url}}">
                            <img src="{{this.picture}}" class="card-img-top" alt="..." id="article-pic">
                            <div class="card-body">
                                <h5 class="card-title">{{this.headline}}</h5>
                        </a>
                        <p class="card-text">{{this.summary}}</p>
                        <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
                        {{!-- <a href="{{this.url}}" class="card-link">Read More</a> --}}
                        <p> <a href="{{this.url   }}">Read More</a>
                        <span class="buttons">
                        <button id="comment-article" class="small-buttons">Comment</button> |                                
                        <button id="delete-article" class="small-buttons">Delete Article</button >
                        </span>
                        </p>
                        
                    </div>
                </div>
                {{/each}}
                {{else}}
                <div class="message"> There are no saved artices, go back to the home page to save some articles!</div>
                {{/if}}
            </div>
        </article>
    </div>
</div>
